# Rename to .env

# Moralis
APP_DOMAIN=localhost
MORALIS_API_KEY=
NEXTAUTH_URL=http://localhost:3000
# Secret key (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=

# MySQL database URL for Prisma
DATABASE_URL=
