# Rename to .env

# Moralis
APP_DOMAIN=localhost
MORALIS_API_KEY=
NEXTAUTH_URL=http://localhost:3000
# Secret key (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=

# MySQL database URL for Prisma
DATABASE_URL=mysql://2cfghj05n99mp9uo49wz:pscale_pw_UhNnSHJbd1Zx7KHXfcMzMe98fzd4mlNSsRb9IEnTDdk@127.0.0.1:3309/sandbox
