# client
client/node_modules
client/.next
client/.env
client/.env.local

# contract
contract/node_modules
contract/.envrc
contract/coverage
contract/coverage.json
contract/typechain
contract/typechain-types

#Hardhat files
contract/cache
contract/artifacts
